.header__lang-link_ru {
    width: 30px;
    height: 28px;
    font-family: Inter-Regular;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding-right: 18px;
    border: 1px solid rgb(20, 160, 241);
}