.lead__picture {
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .lead__picture {
      max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .lead__picture {
      max-width: 768px;
  }
}

@media screen and (max-width: 425px) {
  .lead__picture {
      max-width: 425px;
  }
}
@media screen and (max-width: 320px) {
  .lead__picture {
      max-width: 320px;
  }
}

  