.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 16px;
    max-width: 1186px;
    width: 100%;
    padding-top: 92px;
    margin: 0;
    margin-left: 48px;
    margin-right: 48px;
    margin-right: 0;
    align-items: end;
    box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        margin-left: 0;
        margin-right: 0;
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
        gap: 14px 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px 16px;
        padding-top: 88px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (max-width: 576px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 540px;
        gap: 12px 12px;
    }
}
@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px 12px;
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }
}





