.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px 16px;
    max-width: 1186px;
    padding-top: 92px;
    padding-left: 48px;
    padding-right: 48px;
    margin: 0;
    align-items: end;
    justify-self: center;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 300px);
        gap: 14px 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 352px);
        gap: 16px 16px;
        padding-top: 88px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (max-width: 576px) {
    .photo-grid {
        grid-template-columns: repeat(2, 258px);
        max-width: 540px;
        gap: 12px 12px;
    }
}
@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: repeat(1, 284px);
        gap: 12px 12px;
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }
}




