.cover__subtitle {
    color: white;
    max-width: 360px;
    height: 66px;
    font-family: Inter-Regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding-top: 32px;
}
@media screen and (max-width: 425px) {
    .cover__subtitle {
        padding: 16px;
        font-size: 14px;
        line-height: 16px;
    }
}
