.cover__subtitle {
    color: white;
    width: 360px;
    height: 66px;
    font-family: Inter-Regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding-top: 32px;
    border: 1px solid rgb(241, 145, 20);
}