.footer__copyright {
    color: white;
    margin: 0;
    font-family: Inter-Regular;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}
@media screen and (max-width: 425px) {
    .footer__copyright {
        max-width: 425px;
        line-height: 14px;
        padding-left: 16px;
    }
}
@media screen and (max-width: 320px) {
    .footer__copyright {
        max-width: 320px;
        padding-left: 16px;
    }
}