.links {
    display: flex;
    flex-direction: row;
    /* padding-left: 48px; */
    border: 1px solid rgb(20, 241, 204);
}
@media (max-width: 452px) {
    .links {
        flex-direction: column;
    }
}