.intro {
    align-self: flex-start;
    list-style: none;
    max-width: 690px;
    padding-top: 92px;
    padding-left: 148px;
    padding-right: 148px;
    padding-bottom: 0;
    margin: 0 auto;
    border: 1px solid blue;
}
@media screen and (max-width: 768px) {
    .intro {
        padding-top: 88px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (max-width: 425px) {
    .intro {
        padding-top: 45px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media screen and (max-width: 320px) {
    .intro {
        padding-top: 64px;
    }
}


  
  /* @media screen and (max-width: 1152px) {
    .intro {
      padding: 92px 48px 0;
    }
  }
  
  @media screen and (max-width: 956px) {
    .intro {
      padding: 88px 24px 0;
    }
  }
  
  @media screen and (max-width: 576px) {
    .intro {
      padding: 64px 16px 0;
    }
  }
   */