.intro {
    list-style: none;
    align-items: flex-start;
    max-width: 692px;
    padding-top: 92px;
    padding-bottom: 0;
    padding-left: 148px;
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .intro {
        max-width: 690px;
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        padding-top: 88px;
        padding-left: 23px;
    }
}
@media screen and (max-width: 576px) {
    .intro {
        padding-top: 45px;
        padding-left: 16px;
    }
}
@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        padding-top: 64px;
    }
}


