.intro {
    list-style: none;
    align-items: flex-start;
    max-width: 692px;
    padding: 92px 394px 0 100px;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
    .intro {
        max-width: 690px;
        padding-top: 92px;
        padding-left: 48px;
        padding-right: 238px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        padding-top: 88px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (max-width: 576px) {
    .intro {
        padding: 64px 16px 0 16px;
    }
}
@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
    }
}


