.cover {
    max-width: 1186px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../image/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border: 1px solid blue;
}
/* @media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
        height: 640px;
        padding-top: 92px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        height: 480px;
        padding-top: 90px;
    }
}
@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        height: 200px;
        padding-top: 66px;
    }
} */
@media screen and (max-width: 1024px) {
    .cover {
     max-width: 1024px;
      height: 690px;
    }
  }
  
  @media screen and (max-width: 890px) {
    .cover {
        max-width: 890px;
      height: 560px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
      height: 480px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .cover {
        max-width: 576px;
      height: 340px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
      height: 200px;
    }
  }
  