.cover__title {
    color: white;
    font-family: Inter-Black;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    width: 560px;
    height: 152px;
    text-align: center;
    margin-top: 245px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    position: relative;
}