.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1184px;
    padding-top: 92px;
    padding-bottom: 24px;
    padding-left: 48px;
    padding-right: 48px;
}

@media (max-width: 1024px) {
    .footer {
        display: block;
    }

}
@media (max-width: 768px) {
    .footer {}

}
@media (max-width: 425px) {
    .footer {}
}
@media (max-width: 320px) {
    .footer {
        display: block;
    }

}